:root {
  --site-bgc: #242b33;
  --font-white-color: #ffffff;
  --accent-color: #d4c17f;
  --placeholder-text-color: #bebebe;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: var(--site-bgc);
}

.latin-number {
  position: absolute;
  top: -80%;
  right: -20%;
  font-weight: 700;
  font-size: 400px;
  line-height: 1.3325;
  font-family: "Playfair Display", sans-serif;
  color: var(--font-white-color);
  opacity: 0.02;
}

.apartments__latin-number {
  top: -7%;
  left: -21%;
  z-index: -1;
}

.video-review__latin-number {
  top: 5%;
  right: -19%;
}

.google-map__latin-number {
  top: -10%;
  left: -13%;
  z-index: -1;
}

.site-form {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 35px;
}
.site-form__input {
  width: 255px;
  min-height: 50px;
  border: none;
  background-color: var(--font-white-color);
  opacity: 0.2;
}
.site-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9285714286;
  color: var(--placeholder-text-color);
  text-align: center;
}
.site-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9285714286;
  color: var(--placeholder-text-color);
  text-align: center;
}
.site-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9285714286;
  color: var(--placeholder-text-color);
  text-align: center;
}
.site-form__text {
  max-width: 255px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2307692308;
  color: #e7e7e7;
}
.site-form__btn {
  transition: background-color 250ms linear;
  width: 255px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6875;
  background-color: var(--accent-color);
  color: var(--font-white-color);
}
.site-form__btn:hover, .site-form__btn:focus {
  background-color: #a7944f;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  background-color: var(--site-bgc);
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3333333333;
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
}
.logo__label {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.12em;
  color: var(--font-white-color);
}
.logo.header__logo {
  margin-top: 30px;
  margin-right: 409px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.05em;
  color: var(--font-white-color);
}
.site-nav__link {
  transition: color 250ms linear;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../images/hero-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 295px;
  padding-bottom: 75px;
}
.hero__title {
  margin-bottom: 100px;
  max-width: 556px;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3333333333;
  color: var(--accent-color);
}
.hero__btn {
  background-color: rgba(36, 43, 51, 0);
  margin-bottom: 200px;
}
.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  text-align: center;
}
.hero__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  fill: currentColor;
  color: var(--font-white-color);
  transition: color 250ms linear;
}
.hero__link:hover, .hero__link:focus {
  color: var(--accent-color);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  transition: transform 250ms linear;
  color: var(--accent-color);
  fill: currentColor;
}
.hero__btn:hover, .hero__btn:focus {
  transform: rotateZ(180deg);
}

@-webkit-keyframes changeScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes changeScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.hero__icon {
  fill: currentColor;
  -webkit-animation: changeScale 1000ms linear infinite alternate;
          animation: changeScale 1000ms linear infinite alternate;
}
.hero__icon:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.infrastructure {
  padding-top: 120px;
  padding-bottom: 120px;
}

.infrastructure__container {
  position: relative;
}

.infrastructure__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.infrastructure__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infrastructure__icon {
  margin-bottom: 50px;
}

.infrastructure__text {
  text-align: center;
  max-width: 190px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  color: var(--font-white-color);
}

.section-title {
  margin-bottom: 100px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3333333333;
  color: var(--accent-color);
}

.apartments {
  padding-top: 0;
  padding-bottom: 0;
}

.apartments__container {
  position: relative;
  z-index: 1;
}

.apartments__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.apartments__list .apartments__item {
  position: relative;
  flex-basis: calc((100% - 30px) / 2);
}
.apartments__list .apartments__text {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--font-white-color);
}

.look-area {
  background-image: url(../images/bg-img-look-area.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.look-area__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.look-area__section-title {
  margin-bottom: 50px;
}

.look-area__text {
  width: 535px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-white-color);
}

.look-area-text-container {
  margin-right: 35px;
}

.video-review {
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}

.video-review__container {
  position: relative;
}

.video-review__movie {
  position: relative;
}

.video-review__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.google-map__container {
  position: relative;
  z-index: 1;
}

.question {
  padding-top: 0;
}/*# sourceMappingURL=main.css.map */