.footer {
  background-color: var(--footer-bgc);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 30px;
  padding-bottom: 60px;
}
.footer__site-nav {
  flex-direction: column;
  row-gap: 15px;
}
.address {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  margin-bottom: 20px;

  font-style: normal;
  color: var(--font-white-color);

  &__link {
    transition: color 250ms linear;
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}
.social-web {
  display: flex;
  column-gap: 20px;
}

.social-web__link {
  transition: color 250ms linear;

  color: var(--font-white-color);
  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
