.look-area {
  background-image: url(../images/bg-img-look-area.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.look-area__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.look-area__section-title {
  margin-bottom: 50px;
}
.look-area__text {
  width: 535px;

  @include font(400, 16px, 24px);

  color: var(--font-white-color);
}

.look-area-text-container {
  margin-right: 35px;
}
