.site-nav {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;

  margin-top: 50px;
  @include font(400, 14px, 16px);
  letter-spacing: 0.05em;

  color: var(--font-white-color);

  &__link {
    transition: color 250ms linear;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--padding {
  padding: 0;
}
