.address {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  margin-bottom: 20px;

  font-style: normal;
  color: var(--font-white-color);

  &__link {
    transition: color 250ms linear;
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}
